body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    background-image: url('../img/anh_bia.png');
}

.login-box {
    margin: 80px 0 80px 550px;
    border: 1px solid gray;
    border-radius: 10px;
    height: 450px;
    width: 400px;
    backface-visibility: hidden;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
}
.login-content input {
    margin: 10px 0;
}
.login-input {
    width: 80%;
}
.login-submit {
    border: 1px solid orange;
    border-radius: 5px;
    background: orange;
    width: 120px;
    height: 30px;
}

.reset-code {
    width: 268px;
}
.reset-submit {
    background: orange;
    width: 60px;
    height: 25px;
}
.reset-email {
    width: 250px;
}
.reset-label {
    color: yellow;
    font-size: 12px;
}
.toggle-password {
    cursor: pointer;
    position: absolute;
    margin-left: -30px;
    margin-top: 10px;
}



